<template name="home">
    <div class="ui four column main-content features grid">
        {{#each feature}}
            <div class="center aligned column">
                <a href="{{path}}" class="ui unstyled no-hover-styles no-underline link icon header">
                    <span class="headline">{{text}}</span>
                    <i class="{{color}} {{icon}} boilerplate-feature icon"></i>
                </a>
            </div>
        {{/each}}
    </div>

    <div id="packages" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive red archive icon"></i>
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">Atmosphere packages <div class="sub header">Don't reinvent the wheel</div></h3>
                    <p>
                        There are the a lot of
                        <a href="https://github.com/matteodem/meteor-boilerplate/blob/master/.meteor/packages">helpful packages</a>
                        to get you started asap. Some of them are.</p>
                    <div class="ui list">
                        {{#each package}}
                            <a href="{{path}}" class="item no-underline link">
                                <i class="archive icon"></i>
                                {{name}}
                            </a>
                        {{/each}}
                    </div>
                    <div class="ui info message">
                        <div class="header">
                            Removed Packages
                        </div>
                        "insecure" and "autopublish" are removed by default!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="console-tool" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="column">
                    <h3 class="large ui header">orion-cli <div class="sub header">Be even faster</div></h3>
                    <p>
                        To speed up a lot of simple repetitive tasks, there is the <a href="https://github.com/matteodem/orion-cli">orion-cli</a> that can be used with this boilerplate.<br />
                        Simply use <code>orion generate {template}</code> to generate files in the project root.
                    </p>
                    <div class="ui list">
                        {{#each consoleCommand}}
                        <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">{{command}}</div>
                                <div class="description">{{description}}</div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <p>
                        There is also support for different profiles, as shown <a href="https://github.com/matteodem/meteor-boilerplate#available-profiles-cofeescript-and-es6">here</a>.
                    </p>
                </div>
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive code icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="html5" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive orange html5 icon"></i>
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">HTML5 and CSS3 <div class="sub header">Semanticness FTW!</div></h3>
                    <p>
                        Semantic UI and Normalize.CSS are both added to increase the use of semantic tags and classes.
                        It's better for both developers and designers if there's readable html code instead of non
                        understandable string combinations.
                    </p>
                    <h4>CSS classes in Bootstrap 3 and Semantic UI - for Contrast</h4>
                    <table class="ui basic table">
                        <thead>
                        <tr>
                            <th>What</th>
                            <th>Bootstrap 3</th>
                            <th>Semantic UI</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each semanticElement}}
                        <tr>
                            <td>{{what}}</td>
                            <td>{{withBootstrap}}</td>
                            <td>{{withSemanticUI}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="structure" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="column">
                    <h3 class="large ui header">Folder structure <div class="sub header">seperate your concerns</div></h3>
                    <p>
                        There's already a structure provided for your meteor app, with some content filled in to see
                        where you can place what kind of code or where what code is generated. Here's the default structure
                        as a list:
                        <br />
                        <ul>
                            {{#each folder}}
                            <li>
                                {{root}}
                                {{#if children}}
                                <ul>
                                    {{#each children}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    </p>

                </div>
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive unordered list icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
