@import '../../stylesheets/variables.less';
@import '../../stylesheets/elements.less';


#main {
    .boilerplate-feature.icon {
        margin-top: 10px;
        color: @blue;

        &.orange.html5 {
            color: @orange;
        }
    }

    .features.grid {
        width: 100%;
        margin: 0%;
    }
}