@import 'variables.less';

// Global helper styles

.aligned {
    &.center {
        text-align: center;
    }

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }
}

.link {
    &.unstyled {
        color: inherit;
    }

    &.no-underline {
        text-decoration: none;
    }

    &.no-hover-styles:hover {
        color: inherit;
    }
}