<template name="header">
    <div class="center aligned {{isActive}} header-wrapper">
        <h1 class="huge center aligned ui header">
            {{constant 'name'}}
            <div class="sub header">
                by <a class="unstyled link" href="http://matteodem.github.io/meteor-boilerplate">@matteodem</a>
            </div>
        </h1>
        <button class="basic ui resize icon button"><i class="{{iconClass}} icon"></i></button>

        {{#if showLogin}}
        <div class="login-wrapper {{animateClass}} animated">
            {{#if currentUser}}
            <div class="ui purple log-out button">
                <i class="sign out icon"></i>
                Log out
            </div>
            {{else}}
            {{> atForm }}
            {{/if}}
        </div>
        {{/if}}
    </div>
</template>

