@import url('https://fonts.googleapis.com/css?family=Roboto:900|Poppins:500|Roboto+Slab');

.font-poppins { font-family: 'Poppins', serif; }
.font-roboto { font-family: 'Roboto', serif; }
.font-roboto-slab { font-family: 'Roboto Slab', serif; }
